html {
  display: block;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
}

body {
  font-family: "Roboto";
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
  transition: 100ms all ease-in-out;
  border: 1px solid #375e97;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
  box-sizing: border-box;
  height: fit-content;
  width: fit-content;
  max-height: 720px;
}

body .popup_detail p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  color: black;
  max-width: 450px;
  word-wrap: break-word;
}

body .popup_detail h5 {
  display: block;
  margin: 0;
  padding: 0;
  color: grey;
  word-wrap: none;
}

body .popup_detail {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: min-content;
  width: max-content;
  box-sizing: border-box;
}
