html {
  border: 1px solid black;
}

html,
body {
  font-family: "Roboto";
  word-wrap: break-word;
  background-color: whitesmoke;
}

body .container_popup {
  margin: 0px;
  padding: 0;
  max-height: 720px;
  overflow: auto;
}
body .container_popup p {
  margin: 0px;
  padding: 10px;
  padding-top: 0px;
  font-size: 14pt;
}

body .container_popup h5 {
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  color: grey;
}

body .container_popup .popup_detail {
  margin-bottom: 10px;
}
